[Desktop Entry]
Type=Application
Version=1.0
Name=Squeeze Vid
# NoDisplay=true
Comment=CLI app
Icon=io.github.sil_car.SqueezeVid
Exec=flatpak run io.github.sil_car.SqueezeVid
Terminal=true
Categories=AudioVideo;Utility;
